// main hero
.bridge-hero-section {
  background: linear-gradient(rgba(0, 30, 0, 0.55), rgba(0, 30, 0, 0.55)),
              url(../images/DF/competition.jpg) 
              center center / cover no-repeat;
  height: calc(55vh);
  position: relative;
}
